/* public/styles.css */

/* * {
  display: flex;
} */

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #6f1d69, #a86fb0, #7d53e7);
  color: #fff;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* margin-left: 100px;
  margin-right: 100px; */
  margin: auto;
  width: 50%;

}

.container {
  width: 80%;
  max-width: 400px;
  /* background-color: #9c6cd1; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1, h2 {
  color: #fff;
}

p {
  color: #f0f0f0;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4b2a8c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2c1643;
}

ol {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 0;
}

/* Add more styling as needed */
